<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card *ngFor="let p of image; let i = index">
      <img src="{{ p.image }}" />
      <ion-item>
        <ion-label>{{ p.description }}</ion-label>
        <ion-icon name="download-outline" slot="end" (click)="download(p.image)" *ngIf="!loading; else ShowTo"></ion-icon>
        <ng-template slot="end" #ShowTo>Downloading</ng-template>
      </ion-item>
    </ion-card>
  </div>
</ion-content>
